*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ingredient-group {
  width: 50%;
}

.ingredient-group:nth-child(odd) {
  float: left;
  padding-right: 20px;
}

.ingredient-group:nth-child(even) {
  float: left;
  padding-right: 0;
}

.grid::after {
  content: "";
  display: table;
  clear: both;
}

.validationError {
  color: red;
}
